.container {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.container img {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.wrapper {
    height: 52px;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
